<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
  <link rel="stylesheet" href="/css/jquery.countdown.css">
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>

  <div class="navbar">
    <div class="primary">
      <div class="container">
        <a href="#">Cultivons un autre monde !</a>
        <ul>
          <li><a href="#">Infos qualité</a></li>
          <li><a href="#">Infos livraisons</a></li>
          <li><a href="#">Infos paiements</a></li>
        </ul>
      </div>
    </div>

    <div class="secondary">
      <div class="container">
        <div class="logo">
          <img src="/img/logo.jpg">
        </div>
        <ul>
          <li><a href="#">Légumes</a></li>
          <li><a href="#">Fruits</a></li>
          <li><a href="#">Herbes aromatiques</a></li>
          <li><a href="#">Paniers hebdomadaires</a></li>
          <li><a href="#">Plus</a></li>
        </ul>

        <ul class="right">
          <li><a href="#">Connection</a></li>
          <li><a href="#">Panier / $0.00 <span class="iconify" data-icon="fa:shopping-basket" data-inline="false"></span></a></li>
        </ul>
      </div>
    </div>

  </div>

<div class="menu-vide">

</div>
